:root{
    --raleway: 'Raleway', sans-serif;

    --background-celeste-suave: #EAF2FD;
    --background-plateado-suave: #F5F5F5;
    --background-blanco-suave: #FFFFFF;
    --box-blanco: #FFFFFF;

    --azul-suave: #15273e;
    --color-oscuro: #464646;
    --marron-suave: #655027;
    --plateado-suave: #F5F5F5;
    --sombra-suave: #ACA4A4;
}

body{
    font-family: var(--raleway);
}

html{
    scroll-behavior: smooth;
}











