.contacto__envio{
    background: var(--azul-suave);
    border-color: var(--azul-suave);
    border-radius: .625rem;
    color: var(--plateado-suave); 
    cursor: pointer;
}

@media screen and (min-width: 0px){
    .contacto__envio{
        font-size: .875rem;
        font-weight: 600;
        line-height: 1rem;
        margin: 0;
        padding: .75rem 1rem;
        width: 8.5rem;
    }
}

@media screen and (min-width: 922px){
    .contacto__envio{
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.1875rem;
        margin: 0 0 .4725rem .927rem;
        padding: 1rem;
        transition: 1s all;
        width: 9.25rem;
    }
    
    .contacto__envio:hover{
        background: var(--marron-suave);
        border-color: var(--marron-suave);
        transform: scale(1.2);
    }
}
