.contacto__asunto, 
.contacto__asunto:focus{
    background: var(--box-blanco-cinc);
    border: none;
    height: 3.5rem;
    line-height: 1.25rem; 
    padding: .75rem .75rem 0 .75rem; 
}

.contacto__asunto{
    border-bottom: 2px solid var(--sombra-suave);
    border-radius: .625rem;
    font-weight: 400;
    outline: none;
    z-index: 0;
}

.contacto__asunto:focus{
    border-bottom: 2px solid var(--marron-suave);
    color: var(--color-oscuro); 
}

.contacto__asunto:focus + .contacto__texto--asunto,
.contacto__asunto:not(:placeholder-shown) + .contacto__texto--asunto{
    font-size: .75rem;
    font-weight: bold;
    line-height: 1rem;
    top: 13.725rem;
}

.contacto__asunto:focus + .contacto__texto--asunto{
    color: var(--marron-suave);
}

.contacto__asunto::placeholder{
    color: transparent;
}