.contacto__nombre, 
.contacto__nombre:focus{
    background: var(--box-blanco-cinc);
    border: none;
    height: 3.5rem;
    line-height: 1.25rem;
    padding: .75rem .75rem 0 .75rem;  
}

.contacto__nombre{
    border-bottom: 2px solid var(--sombra-suave);
    border-radius: .625rem;
    font-weight: 400;
    outline: none;
    z-index: 0;
}

.contacto__nombre:focus{
    border-bottom: 2px solid var(--marron-suave);
    color: var(--color-oscuro);
}

.contacto__nombre:focus + .contacto__texto--nombre,
.contacto__nombre:not(:placeholder-shown) + .contacto__texto--nombre{
    font-size: .75rem;
    font-weight: bold;
    line-height: 1rem;
    top: 0.5rem; 
}

.contacto__nombre:focus + .contacto__texto--nombre{
    color: var(--marron-suave);
}

.contacto__nombre::placeholder{
    color: transparent;
}

.contacto__nombre:focus::placeholder{
    color: var(--sombra-letra);
}