.contacto__email,
.contacto__email:focus{
    background: var(--box-blanco-cinc);
    border: none;
    height: 3.5rem;
    line-height: 1.25rem; 
    padding: .75rem .75rem 0 .75rem; 
}

.contacto__email{
    border-bottom: 2px solid var(--sombra-suave);
    border-radius: .625rem;
    font-weight: 400;
    outline: none;
    z-index: 0;
}

.contacto__email:focus{
    border-bottom: 2px solid var(--marron-suave);
    color: var(--color-oscuro);
}

.contacto__email:focus + .contacto__texto--email,
.contacto__email:not(:placeholder-shown) + .contacto__texto--email{
    font-size: .75rem;
    font-weight: bold;
    line-height: 1rem;
    top: 7.125rem;
}

.contacto__email:focus + .contacto__texto--email{
    color: var(--marron-suave);
}

.contacto__email::placeholder{
    color: transparent;
}

.contacto__email:focus::placeholder{
    color: var(--sombra-letra);
}