@media screen and (min-width: 0px){
    .contacto__imagen{
        display: none;
    }
}

@media screen and (min-width: 922px){
    .contacto__imagen{
        display: flex;
        border-radius: .625rem;
        margin: 4rem 1rem 0 0;
        width: 32.22vw;
    }
}