.contacto__bloque{
    display: flex;
}

@media screen and (min-width: 0px){
    .contacto__bloque{
        margin: 0; 
        width: 100%;
    }
}

@media screen and (min-width: 922px){
    .contacto__bloque{
        margin: 0 10.56vw;
        width: 78.88vw;
    }
}