.hobby__nombre{
    font-weight: bold;
    margin-left: 3.5%;
    position: relative;
}

@media screen and (min-width: 0px){
    .hobby__nombre{
        top: 57%;
    }
}

@media screen and (min-width: 922px){
    .hobby__nombre{
        top: 63%;
    }
}