.hobby{
    background: var(--background-blanco-perla);
    display: flex;
}

@media screen and (min-width: 0px){
    .hobby{
        padding: 1rem;
    }
}

@media screen and (min-width: 768px){
    .hobby{
        padding: 2rem;
    }
}

@media screen and (min-width: 922px){
    .hobby{
        padding-bottom: 2rem;
    }
}