.hobby__titulo{
    color: var(--color-oscuro);
    font-weight: bold;
}

@media screen and (min-width: 0px){
    .hobby__titulo{
        font-size: 1.375rem;
        line-height: 1.625rem;
    }
}

@media screen and (min-width: 768px){
    .hobby__titulo{
        font-size: 1.375rem;
        line-height: 1.625rem;
    }
}

@media screen and (min-width: 922px){
    .hobby__titulo{
        font-size: 2rem;
        line-height: 2.375rem;
    }
}