.hobby__bloque{
    width: 1136px;
    position: relative;
    margin: 2rem 0 2rem 12.346%; 
    text-align: center;
}

.hobby__bloque .hobby__item:hover{
    width: calc(9.125rem * 1.01);
    height: calc(9rem * 1.01);
    border: 2px solid #6D5423;
}

.hobby__bloque .hobby__item:active{
    width: 9.125rem;
    height: 9rem;
    border: 2px solid #EAF2FD;
}

.hobby__bloque .hobby__item:hover .hobby__icono{
    width: 2.1875rem;
}

.hobby__bloque .hobby__item:active .hobby__icono{
    width: 2rem;
}

.hobby__bloque .hobby__item:hover .hobby__nombre{
    font-size: 1.1875rem;
}

.hobby__bloque .hobby__item:active .hobby__nombre{
    font-size: 1rem;
}
 
.hobby__bloque .hobby__icono{
    width: 2rem;
    position: absolute;
    margin-left: 0.5%;
    bottom: 19%;
}