.hobby__bloque{
    text-align: center;
}

@media screen and (min-width: 0px){
    .hobby__bloque{
        margin: 0;
        width: 100%;
    }
}

@media screen and (min-width: 922px){
    .hobby__bloque{
        margin: 5.5rem 10.56vw 1.5rem 10.56vw;
        width: 78.88vw;
    }
}
 
