.presentacion__link{
    color: var(--color-oscuro);
    text-decoration: none;
}

.presentacion__link:hover{
    color: var(--marron-suave);
    text-decoration: underline;
}

@media screen and (min-width: 0px){
    .presentacion__link{
        line-height: 1rem;
        position: relative;
        top: 0.09rem;
    }
}

@media screen and (min-width: 768px){
    .presentacion__link{
        line-height: 1.6rem;
    }
}

@media screen and (min-width: 922px){
    .presentacion__link{
        cursor: pointer;
        line-height: 1.6rem;
    }
}