.presentacion__bloque{
    position: relative;
}

@media screen and (min-width: 0px){
    .presentacion__bloque{
        align-content: center;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    .presentacion__bloque .presentacion__titulo{
        order: 2;
    }

    .presentacion__bloque .presentacion__imagen{
        order: 1;
    }

    .presentacion__bloque .presentacion__parrafo{
        order: 3;
    }

    .presentacion__bloque .presentacion__menu{
        order: 4;
    }
}

@media screen and (min-width: 768px){
    .presentacion__bloque{
        margin: 0;
        width: 100%;
        display: inline-block;
    }
}

@media screen and (min-width: 922px){
    .presentacion__bloque{
        margin: -0.3125rem 0 -1.25rem 11.52%;
        width: 1136px;
        display: inline-block;
    }
}
