.presentacion__menu .presentacion__item{
    align-items: flex-end;
    display: inline-flex;
    font-weight: 500;
}

.presentacion__menu .presentacion__link{
    color: #464646;
    line-height: 1.1875rem;
    text-decoration: none;
}

.presentacion__menu .presentacion__link:hover{
    color: #6D5423;
    text-decoration: underline;
}

@media screen and (min-width: 0px){
    .presentacion__menu .presentacion__item{
        font-size: 0.875rem;
        margin: 0 0.75rem 0 0;
    }
}

@media screen and (min-width: 768px){
    .presentacion__menu .presentacion__item{
        font-size: 1rem;
        margin: 0 2.25rem 0 0;
    }
}

@media screen and (min-width: 922px){
    .presentacion__menu .presentacion__item{
        font-size: 1rem;
        margin: 0 2.25rem 2rem 0;
    }
}
