.presentacion__parrafo{
    color: var(--color-oscuro);
    display: flex;
    font-weight: 400;
}

@media screen and (min-width: 0px){
    .presentacion__parrafo{
        font-size: .875rem;
        line-height: 1rem;
        margin: 1rem 0;
        width: 100%;
    }
}

@media screen and (min-width: 768px){
    .presentacion__parrafo{
        font-size: 1rem;
        line-height: 1.1875rem;
        margin: .5rem 0;
    }
}

@media screen and (min-width: 922px){
    .presentacion__parrafo{
        font-size: 1.375rem;
        line-height: 1.625rem;
        margin: 1.5rem 0;
    }
}
