.presentacion{
    background: var(--background-blanco-perla);
}

@media screen and (min-width: 0px){
    .presentacion{
        padding: 1rem;
    }
}

@media screen and (min-width: 768px){
    .presentacion{
        padding: 2rem;
    }
}

@media screen and (min-width: 922px){
    .presentacion{
        padding: 2rem 0;
    }
}


    






