.presentacion__titulo{
    color: var(--color-oscuro);
    display: flex;
    font-weight: bold; 
}

@media screen and (min-width: 0px){
    .presentacion__titulo{
        font-size: 1.375rem;
        line-height: 1.625rem;
        width: 100%;
    }
}

@media screen and (min-width: 768px){
    .presentacion__titulo{
        font-size: 1.375rem;
        line-height: 1.625rem;
    }
}

@media screen and (min-width: 922px){
    .presentacion__titulo{
        font-size: 3.25rem;
        line-height: 3.8125rem;
    }
}

