.formacion__bloque{
    text-align: center;
}

@media screen and (min-width: 0px){
    .formacion__bloque{
        margin: 0;
        width: 100%;
    }
}

@media screen and (min-width: 922px){
    .formacion__bloque{
        margin: 2.375rem 10.56vw 0 10.56vw;
        width: 78.88vw;
    }
}
