.formacion__fecha{
    color: var(--color-oscuro);
    font-weight: 500;
}

@media screen and (min-width: 0px){
    .formacion__fecha{
        font-size: .875rem;
        line-height: 1rem;
    }
}

@media screen and (min-width: 922px){
    .formacion__fecha{
        font-size: 1rem;
        line-height: 1.1875rem;
    }
}
