.experiencia{
    background: var(--background-blanco-perla);
}

@media screen and (min-width: 0px){
    .experiencia{
        padding: 2rem;
    }
}

@media screen and (min-width: 922px){
    .experiencia{
        padding: 2rem 0;
    }
}
