.experiencia__nota{
    color: var(--color-oscuro);
    font-weight: 500;
    margin-top: .5rem;
}

@media screen and (min-width: 0px){
    .experiencia__nota{
        font-size: .875rem;
        line-height: 1.1875rem;
    }
}

@media screen and (min-width: 922px){
    .experiencia__nota{
        font-size: 1rem;
        line-height: 1.1875rem;
    }
}
