.acerca{
    align-items: center;
    background: #EAF2FD;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 0px){
    .acerca{
        padding: 1rem;
    }
}

@media screen and (min-width: 768px){
    .acerca{
        padding: 2rem;
    }
}

@media screen and (min-width: 922px){
    .acerca{
        padding: 2rem 0;
    }
}



