.acerca__parrafo{
    color: var(--color-oscuro);
    font-weight: 400;
    margin-top: 1rem;
}

@media screen and (min-width: 0px){
    .acerca__parrafo{
        font-size: .875rem;
        line-height: 1rem;
        width: 100%;
    }
}

@media screen and (min-width: 922px){
    .acerca__parrafo{
        font-size: 1rem;
        line-height: 1.1875rem;
        width: 51.46vw;
    }
}
