.menu__nombre{
    color: var(--color-oscuro);
    font-weight: bold;
    margin-left: .5rem;
}

@media screen and (min-width: 0px){
    .menu__nombre{
        line-height: 1rem;
    }
}

@media screen and (min-width: 768px){
    .menu__nombre{
        line-height: 1.1875rem;
    }
}
