.menu{
    align-items: center;
    background: #F5F5F5;
}

.menu .menu__bloque .menu__catalogo .menu__lista{
    display: inline-flex;
}

@media screen and (min-width: 0px){
    .menu{
        padding: 1rem 1rem;
    }
}

@media screen and (min-width: 768px){
    .menu{
        padding: 1rem 2rem;
    }
}

@media screen and (min-width: 922px){
    .menu{
        display: flex;
        justify-content: space-between;
        padding: 2rem 2rem 2rem 0;
    }
}


