.skill__bloque{
    text-align: center;
}

@media screen and (min-width: 0px){
    .skill__bloque{
        margin: 0;
        width: 100%;
    }
}

@media screen and (min-width: 922px){
    .skill__bloque{
        margin: 0 8.435vw 1.5rem 8.435vw;
        width: 88.13vw;
    }
}

