.skill{
    background: var(--background-blanco-perla);
    display: flex;
}

@media screen and (min-width: 0px){
    .skill{
        padding: 1rem;
    }
}

@media screen and (min-width: 768px){
    .skill{
        padding: 2rem;
    }
}

@media screen and (min-width: 922px){
    .skill{
        padding: 2rem 0 2rem 0;
    }
}
