.skill__bloque{
    margin: 2rem 0 2rem 12.346%;
    text-align: center;
    width: 1136px;
}

.skill__bloque .skill__item{
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;  
}

.skill__bloque .skill__item:hover{
    border: 2px solid #6D5423;
    height: calc(9rem * 1.01);
    width: calc(9.125rem * 1.01);
}

.skill__bloque .skill__item:active{
    border: 2px solid #EAF2FD;
    height: 9rem;
    width: 9.125rem;
}

.skill__bloque .skill__item:hover .skill__icono{
    height: 2.1875rem;
    top: 50%;
}

.skill__bloque .skill__item:active .skill__icono{
    height: 2rem;
}

.skill__bloque .skill__item:hover .skill__nombre{
    font-size: 1.1875rem;
    top: 60%;
}

.skill__bloque .skill__item:active .skill__nombre{
    font-size: 1rem;
}

.skill__bloque .skill__icono{
    height: 2rem;
    margin-left: 3.5%;
    position: relative;
    top: 53%;
}

